.container {
  display: flex;
  height: 100vh;
  max-width: fit-content;
}

.content {
  flex: 1;
   padding: 1px 40px;
}

.header {
  display: flex;
  gap: 500px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;

}

.header button {
  cursor: pointer;
  border: 2px solid #7dc9e7;
  background-color: transparent;
  color: #247BA0;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 18px;
  transition: background-color 0.2s;
}


.header h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}


.table {
  background-color: #fff;
  border: 1px solid #d3e0e5;
  border-radius: 6px;
  overflow: hidden;
  color: #1A6483;
  font-weight: 500;
}

.tableHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 40px;
  background-color: #eef6fa;
  padding: 12px 20px;
  font-weight: bold;
}

.tableRow {
  display: grid;
  grid-template-columns: 1fr 1fr 40px;
  padding: 12px 20px;
  align-items: center;
  background-color: #f4f7f8;
  border-top: 1px solid #d3e0e5;
}

.tableRow:nth-child(even) {
  background-color: #B9D1DD;
}

.tableRow select {
  padding: 6px;
  border: 1px solid #c0d3db;
  border-radius: 4px;
}

.trashIcon {
  color: #1e4a5a;
  cursor: pointer;
}
