.loginContainer {
  max-width: 700px; 
  margin: 0px auto;
  padding: 20px;
  text-align: center;
}

.loginContainer h2 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  white-space: nowrap;
}

.loginBox {
  background-color: #ffffff;
  border: 1px solid #cce4f1;
  border-radius: 10px;
  padding: 30px 20px;
  width: 100%;
  max-width: 500px; 
  margin: auto;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}

.loginBox h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 500;
  color: #000000;
  line-height: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.loginBox form {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  text-align: left;
}

.loginBox label {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 4px;
  display: block;
}

.loginBox input {
  padding: 14px;
  border: 1px solid #cce4f1;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.loginBox button {
  width: 239px;
  height: 52px;
  background-color: #247BA0;
  color: white;
  border: 1px solid #247BA0;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin: 0 auto; 
  display: block;
}

.loginBox button:hover {
  background-color: #1e6888;
}

.loginLinks {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

.loginLinks a {
  color: #333;
  text-decoration: none;
}

.loginLinks a:hover {
  text-decoration: underline;
}
