.pageWrapper {
  display: flex;
  background-color: #fdfdfd;
  height: 100vh;

}

.form {
  flex: 1;
  padding: 1px 48px;
  max-width: 960px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.input {
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px solid #bcd6e0;
  margin-bottom: 16px;
  font-size: 14px;
  color: #247BA0;
}

.label {
  font-weight: 500;
  margin: 16px 0 4px;
  color: #1e4a5a;
}

.textEditor {
  border: 1px solid #bcd6e0;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 16px;
}

.toolbar {
  background-color: #eef8fb;
  padding: 8px 12px;
  font-size: 15px;
  color: #1e4a5a;
}

.textEditor textarea {
  width: 100%;
  border: none;
  resize: vertical;
  padding: 10px 12px;
  font-size: 14px;
  outline: none;
}

.imageUploadBox {
  width: 200px;
  height: 180px;
  border: 1px solid #bcd6e0;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #1e4a5a;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 24px;
  transition: 0.2s;
}

.imageUploadBox:hover {
  background-color: #f0faff;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 250px;
  margin-bottom: 40px;
}

.dateInput {
  display: flex;
  align-items: center;
  border: 1px solid #bcd6e0;
  border-radius: 6px;
  padding: 10px 10px;
  background-color: white;
  flex: 1;
  gap: 8px;
  color: #145672;

}

.dateInput input {
  border: none;
  font-size: 14px;
  outline: none;
  width: 100%;
  color: #247BA0;
}

.input::placeholder {
  color: #145672;
  font-weight: 500;
  font-size: 16px;
}

.saveBtn {
  align-self: flex-end;
  padding: 10px 90px;
  border: 1px solid #247ba0;
  border-radius: 6px;
  background: white;
  color: #247ba0;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

.saveBtn:hover {
  background-color: #247ba0;
  color: white;
}
.successMsg {
  margin-top: 20px;
  color: #1e6c2c;
  font-weight: 500;
  background-color: #d9f3e2;
  padding: 10px 14px;
  border-radius: 6px;
  border: 1px solid #b4e1c7;
}

